* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.parent{
    display: flex;
    margin: 20px;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: lightgreen;
    border-radius: 15px;
    padding: 20px;
    
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h1, p{
    margin-bottom: 10px;
}