*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.parent{
  display: flex;
  
}

.card {
  width: 350px;
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h1, h2{
margin-bottom: 10px;

}

button{
  background-color: lightgreen;
  padding: 8px 12px;
  border: none;
  border-radius: 18px;
  transition: 0.3s ease-in-out;
}

button:hover{
  background-color: palevioletred;
  color: lightgreen;
}

.nav{
  background-color: lightblue;
  padding: 10px;
  margin: 5px;
}

